<a href="https://colab.research.google.com/github/HimanshuSahoo/Python-for-Data-Scientist/blob/main/MyApriori_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt

In [ ]:
#!pip install mlxtend

In [ ]:
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules
from mlxtend.preprocessing import TransactionEncoder

In [ ]:
#items = []
#with open("toy_dataset.csv") as f:
#    items = f.read()

In [ ]:
items = [['Milk', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
           ['Dill', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
           ['Milk', 'Apple', 'Kidney Beans', 'Eggs'],
           ['Milk', 'Unicorn', 'Corn', 'Kidney Beans', 'Yogurt'],
           ['Corn', 'Onion', 'Onion', 'Kidney Beans', 'Ice cream', 'Eggs']]

In [ ]:
items

[['Milk', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
 ['Dill', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
 ['Milk', 'Apple', 'Kidney Beans', 'Eggs'],
 ['Milk', 'Unicorn', 'Corn', 'Kidney Beans', 'Yogurt'],
 ['Corn', 'Onion', 'Onion', 'Kidney Beans', 'Ice cream', 'Eggs']]

In [ ]:
# splitting the data into separate transactions using separator as "\n"
#items = items.split("\n")
#items_list = []
#for i in items:
#    items_list.append(i.split(","))

In [ ]:
items_list=items

In [ ]:
#items_list

In [ ]:
te = TransactionEncoder()
te_ary = te.fit(items_list).transform(items_list)
df = pd.DataFrame(te_ary, columns=te.columns_)
df

,Apple,Corn,Dill,Eggs,Ice cream,Kidney Beans,Milk,Nutmeg,Onion,Unicorn,Yogurt
0,False,False,False,True,False,True,True,True,True,False,True
1,False,False,True,True,False,True,False,True,True,False,True
2,True,False,False,True,False,True,True,False,False,False,False
3,False,True,False,False,False,True,True,False,False,True,True
4,False,True,False,True,True,True,False,False,True,False,False

In [ ]:
#apriori(df, min_support=0.4, use_colnames=True)

In [ ]:
frequent_itemsets = apriori(df, min_support=0.3, use_colnames=True)
frequent_itemsets['length'] = frequent_itemsets['itemsets'].apply(lambda x: len(x))
frequent_itemsets

    support                                     itemsets  length
0       0.4                                       (Corn)       1
1       0.8                                       (Eggs)       1
2       1.0                               (Kidney Beans)       1
3       0.6                                       (Milk)       1
4       0.4                                     (Nutmeg)       1
5       0.6                                      (Onion)       1
6       0.6                                     (Yogurt)       1
7       0.4                         (Kidney Beans, Corn)       2
8       0.8                         (Kidney Beans, Eggs)       2
9       0.4                                 (Milk, Eggs)       2
10      0.4                               (Nutmeg, Eggs)       2
11      0.6                                (Eggs, Onion)       2
12      0.4                               (Yogurt, Eggs)       2
13      0.6                         (Milk, Kidney Beans)       2
14      0.4                       (Kidney Beans, Nutmeg)       2
15      0.6                        (Kidney Beans, Onion)       2
16      0.6                       (Kidney Beans, Yogurt)       2
17      0.4                               (Milk, Yogurt)       2
18      0.4                              (Nutmeg, Onion)       2
19      0.4                             (Nutmeg, Yogurt)       2
20      0.4                              (Yogurt, Onion)       2
21      0.4                   (Milk, Kidney Beans, Eggs)       3
22      0.4                 (Kidney Beans, Eggs, Nutmeg)       3
23      0.6                  (Kidney Beans, Eggs, Onion)       3
24      0.4                 (Kidney Beans, Yogurt, Eggs)       3
25      0.4                        (Nutmeg, Eggs, Onion)       3
26      0.4                       (Nutmeg, Yogurt, Eggs)       3
27      0.4                        (Yogurt, Eggs, Onion)       3
28      0.4                 (Milk, Kidney Beans, Yogurt)       3
29      0.4                (Kidney Beans, Nutmeg, Onion)       3
30      0.4               (Kidney Beans, Yogurt, Nutmeg)       3
31      0.4                (Kidney Beans, Yogurt, Onion)       3
32      0.4                      (Nutmeg, Yogurt, Onion)       3
33      0.4          (Kidney Beans, Eggs, Nutmeg, Onion)       4
34      0.4         (Kidney Beans, Yogurt, Eggs, Nutmeg)       4
35      0.4          (Kidney Beans, Yogurt, Eggs, Onion)       4
36      0.4                (Nutmeg, Yogurt, Eggs, Onion)       4
37      0.4        (Kidney Beans, Yogurt, Nutmeg, Onion)       4
38      0.4  (Nutmeg, Kidney Beans, Yogurt, Onion, Eggs)       5

In [ ]:
#frequent_itemsets[ (frequent_itemsets['length'] == 2) &
#                   (frequent_itemsets['support'] >= 0.5) ]

In [ ]:
rules = association_rules(frequent_itemsets,  min_threshold=1)
rules.head()

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Corn),(Kidney Beans),0.4,1.0,0.4,1.0,1.00,0.00,inf
1,(Eggs),(Kidney Beans),0.8,1.0,0.8,1.0,1.00,0.00,inf
2,(Nutmeg),(Eggs),0.4,0.8,0.4,1.0,1.25,0.08,inf
3,(Onion),(Eggs),0.6,0.8,0.6,1.0,1.25,0.12,inf
4,(Milk),(Kidney Beans),0.6,1.0,0.6,1.0,1.00,0.00,inf